[submodule "library/arduino_micro_shield"]
	path = library/arduino_micro_shield
	url = https://github.com/adamf/arduino_micro_shield.git
[submodule "library/kicad-symbols"]
	path = library/kicad-symbols
	url = https://github.com/KiCad/kicad-symbols.git
